@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  background-color: #f3f4f6; /* bg-gray-100 */
}

/* Custom Theme Colors for v4 */
@theme {
  --color-primary: #1e3a8a;
  --color-secondary: #fbbf24;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
